@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: #FFF1F0; }
  body .container {
    border: 1px solid black;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  body .jq_form, body h3, body .jq_table {
    width: 100%; }
  body .jq_table {
    height: 300px;
    overflow: auto;
    display: block; }
