@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #FFF1F0;
    .container {
        border: 1px solid black;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
    }
    .jq_form, h3, .jq_table {
        width: 100%;
    }
    .jq_table {
        height: 300px;
        overflow: auto;
        display: block;
    }
}
